.container {
  background-color: $Lightpink;
  height: 100vh;
  background-image: url(/assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 470px) {
    background-image: url(/assets/images/background-pattern-desktop.svg);
    min-width: 90vw;
    min-height: 40vh;
    background-size: contain;
  }

  &_inner {
    width: 80%;
    background-color: $White;
    margin-top: 2rem;
    padding: 1.5rem;
    position: relative;
    top: -20%;
    border-radius: 20px;
    transition: height 2000ms ease-in-out;

    @media (min-width: 470px) {
      width: 40vw;
      height: 40%;
      font-size: 1.5rem;
    }
  }
  &_header {
    display: flex;
    margin-bottom: 1.2rem;

    img {
      width: 9%;
      margin-right: 1rem;
    }
  }
}
